header{
    display:inline-block;
    background-color: cadetblue;
    width: 100%;

}
body{
    background-color: antiquewhite;
    margin-bottom: 120px;
    height: 100%;
}
html{
    height: 100%;
}
#out{
    text-align: right;
    font-size: 20px;
    padding-bottom: 50px;
}
#filter{
    margin-top: 10px;
    background-color: cadetblue;
    width: 200px;
    padding: 10px;
    position: fixed;
    float: left;

}
#user-name{
    font-size: 20px;
}
#portal {
    font-family: "Sitka Banner";
    font-size: 30px;
    text-align: left;
    vertical-align: middle;

}
h3 {
    font-family: "Sitka Banner";
    font-size: 15px;
}
#sign-in{
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 15px;
}
#exit{
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 15px;
}
#line{
    display: inline;
}
.news{
    background-color: cadetblue;
    border: 1px solid black;
    font-size: 20px;

}
.news-tags{
    color: cadetblue;
}
#head{
    font-family: "Berlin Sans FB";
}
#author{
    position: inherit;
    top: 140px;
    left: 400px;

}
.news-author, .news-date{

    margin: 0px;
}
.clearRight{
    clear: right;
}
.news-title{
    margin-top: 7px;
    margin-bottom: 7px;
}
.clear{
    clear: left;
}
.news-table{
    /*width: 950px;*/
    display: inline-block;
    /*height: 200px;*/
    border: 5px solid cadetblue;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border-radius: 20px;
    padding-left: 10px;
}


#clearLeft{
    clear: left;
}
#show{
    margin-top: 20px;
    text-align: right;
}
#button-show{
    background-color: cadetblue;
    border: 1px solid black;
    margin-bottom: 20px;
}
footer{

    background-color: cadetblue;
    text-align: center;
    margin-top: 10px;
    flex: 0 0 auto;


}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}
#add-news{
    /*width: 950px;*/
    display: inline-block;
    /*height: 200px;*/
    border: 5px solid cadetblue;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border-radius: 20px;
    padding: 20px;
}
#article_full{
    /*width: 950px;*/
    display: inline-block;
    /*height: 200px;*/

    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;

    padding-left: 10px;

}